/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
============================ 
Define CSS Variables Upfront 
============================
*/

/* Color theme was bowrrowed from Coolors */
:root {
  /* Yellow tone primary color*/
  --clr-primary-1: #03045e;
  --clr-primary-2: #023e8a;
  --clr-primary-3: #0077b6;
  --clr-primary-4: #0096c7;
  --clr-primary-5: #00b4d8;
  --clr-primary-6: #48cae4;
  --clr-primary-7: #90e0ef;
  --clr-primary-8: #ade8f4;
  --clr-primary-9: #caf0f8;
  --clr-primary-10: #e4fbff;

  /* Dark grey combo */
  --clr-black: #222;
  --clr-grey-1: #212529;
  --clr-grey-2: #343a40;
  --clr-grey-3: #495057;
  --clr-grey-4: #6c757d;

  /* Light grey combo */
  --clr-grey-5: #adb5bd;
  --clr-grey-6: #ced4da;
  --clr-grey-7: #d6dde4;
  --clr-grey-8: #dee2e6;
  --clr-grey-9: #e9ecef;
  --clr-grey-10: #f8f9fa;
  --clr-white: #fff;

  /* Formation */
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* This ensures that the size of an element remains consistent regardless of padding or border changes. */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-size: 1.25rem; */
  background-color: var(--clr-primary-1);
  color: var(--clr-grey-10);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashBaord {
  width: 40rem;
  height: 20rem;

  background-color: var(--clr-grey-10);
  border-radius: 0.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
}

.studentContainer {
  width: 96%;
  border: 2px solid var(--clr-primary-2); /* Specify border style */
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  margin: 0.2rem;
}

.studentCard {
  height: 16rem;
  width: 65%;
  border: 2px solid var(--clr-primary-3);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  margin: 0.2rem;
}

.nameTile {
  border: 2px solid var(--clr-primary-4);
  border-radius: 0.5rem;
  font-size: 1.55rem;
  color: #212529;
  padding: 0.2rem;
  margin: 0.2rem;
}

.bioTile {
  border: 2px solid var(--clr-primary-5);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: #495057;
  padding: 0.2rem;
  margin: 0.2rem;
}

.scoreCard {
  border: 2px solid var(--clr-primary-7);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: flex-end; /* Align items to the right side */
  padding: 0.2rem;
  margin: 0.2rem;
}

.score {
  border: 2px solid var(--clr-grey-2);
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

.gradedScore {
  border: 2px solid var(--clr-grey-2);
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

.gradedDate {
  color: var(--clr-black);
  border: 2px solid var(--clr-grey-4);
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

.btnContainer {
  width: 40rem;
  border: 2px solid #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  height: 2rem;
  width: 7rem;
  border: 2px solid #023e8a;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #023e8a;
  padding: 0.2rem;
  margin: 0.2rem;
}

.submitDate {
  border: 2px solid var(--clr-grey-2);
}

.pictureCard {
  width: 5rem;
  height: 5rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

.learnerPicture {
  width: 5rem;
  height: 5rem;
  border-radius: 15rem;
}
